.App {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}

#v8Chart {
  height: 90vh;
}

.viewContainer {
  padding-top: 2em;
  display: block;
}

.nonParallel .child {
  padding-bottom: 4em;
}

.nonParallel .child:last-child {
  padding-bottom: 0em;
}

.parallel {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4em;
}

.parallel .child {
  flex: 50%;
  width: 50%;
}

.parallel .child:last-child {
  padding-bottom: 0em;
}

.viewSelector {
  height: 15vh;
  overflow: hidden;
  cursor: pointer;
}

@media only screen and (min-width: 600px) and (max-width: 992px){
  .parallel {
    display: block;
  }

  .parallel .child {
    padding-bottom: 4em;
    width: 100%;
  }
}
